@model FootballWebApp.Models.red_cards

@{
    ViewBag.Title = "Add Red Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Red cards</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input name="match_id" type="hidden" value="@ViewBag.match_id" />


        <div class="form-group" id="teams">
            <label for="team_id">Select a player</label>
            <select class="form-control" id="team_id" name="team_id">
                <option selected value="0">Select a team</option>
                @foreach (var item in ViewBag.teams)
                {
                    <option value="@item.team_id">@item.team.name</option>
                }
            </select>
        </div>


        <div class="form-group" id="players_1">
            <label for="player_id_1">Select a player</label>
            <select class="form-control" name="player_id_1" id="player_id_@ViewBag.teams[0].team_id">
                <option selected value="0">Select a league</option>
                @foreach (var item in ViewBag.players1_id)
                {
                    <option value="@item.player_id">@item.fullname</option>
                }
            </select>
        </div>

        <div class="form-group" id="players_2">
            <label for="player_id_2">Select a player</label>
            <select class="form-control" name="player_id_2" id="player_id_@ViewBag.teams[1].team_id">
                <option selected value="0">Select a league</option>
                @foreach (var item in ViewBag.players2_id)
                {
                    <option value="@item.player_id">@item.fullname</option>
                }
            </select>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "matches", null, new { @class = "btn btn-primary" })
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
            $("#players_1").hide();
            $("#players_2").hide();
    $("#team_id").on("change", function (e) {
        var selectedTeam = $("#team_id").val();
        if (selectedTeam == @ViewBag.teams[0].team_id) {
                    $("#players_1").show();
                    $("#players_2").hide();
        } else if (selectedTeam == @ViewBag.teams[1].team_id){
                    $("#players_1").hide();
                    $("#players_2").show();
                }
            })

    </script>
}
