@model FootballWebApp.Models.goal

@{
    ViewBag.Title = "Add a Goal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a Goal</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <input type="hidden" value="@ViewBag.match_id" name="match_id" />

    <div class="form-group">
        <select class="form-control" id="team" onclick="selected()">
            <option selected>Open this select menu</option>
            <option value="@ViewBag.team1.team_id">@ViewBag.team1.name</option>
            <option value="@ViewBag.team2.team_id">@ViewBag.team2.name</option>
        </select>
    </div>

    <div class="form-group" id="player1">
        <select class="form-control" name="player_id1">
            <option selected value="0">Home Team Players</option>
            @foreach (var item in ViewBag.players1)
            {
                <option value="@item.player_id">@item.fullname</option>
            }
        </select>
    </div>

    <div class="form-group"  id="player2">
        <select class="form-control" name="player_id2">
            <option selected value="0">Away Team Players</option>
            @foreach (var item in ViewBag.players2)
            {
                <option value="@item.player_id">@item.fullname</option>
            }
        </select>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    document.getElementById("player1").style.display = "none";
    document.getElementById("player2").style.display = "none";

    function selected() {
        var team = document.getElementById("team");
    var selectedTeam = team.options[team.selectedIndex].value;
        if (selectedTeam == @ViewBag.team1.team_id) {
            document.getElementById("player2").style.display = "none";
            document.getElementById("player1").style.display = "block";
        }
        else if (selectedTeam == @ViewBag.team2.team_id) {
            document.getElementById("player1").style.display = "none";
            document.getElementById("player2").style.display = "block";
        }
        else {
            document.getElementById("player1").style.display = "none";
            document.getElementById("player2").style.display = "none";
        }
    }

</script>
}
