<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/charts/apexcharts.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/components.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/themes/dark-layout.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/themes/bordered-layout.min.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/core/menu/menu-types/vertical-menu.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/plugins/charts/chart-apex.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/pages/ui-feather.min.css">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">
    <!-- END: Custom CSS-->


    @RenderSection("styles", required: false)

</head>
<body>
    @Html.Partial("_header")
    @Html.Partial("_MainMenu")


    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                @RenderBody()
            </div>
        </div>
    </div>


    <footer>
        <p>&copy; @DateTime.Now.Year</p>
    </footer>
    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
    <!-- BEGIN: Vendor JS-->
    <script src="~/Scripts/vendors/js/vendors.min.js"></script>

    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="~/Scripts/vendors/js/charts/apexcharts.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="~/Scripts/js/core/app-menu.min.js"></script>
    <script src="~/Scripts/js/core/app.min.js"></script>
    <script src="~/Scripts/js/scripts/customizer.min.js"></script>
    <script src="https://kit.fontawesome.com/3eed9db04a.js" crossorigin="anonymous"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <!-- END: Page JS-->
    @RenderSection("scripts", required: false)
    <script>
        $(window).on('load', function () {
            if (feather) {
                feather.replace({ width: 14, height: 14 });
            }
        })
    </script>

</body>
</html>


