<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- BEGIN: Vendor CSS-->
    @Styles.Render("~/Content/app-assets/vendors/css/vendors.min.css")
    @Styles.Render("~/Content/app-assets/vendors/css/charts/apexcharts.css")
    @Styles.Render("~/Content/app-assets/vendors/css/extensions/toastr.min.css")

    <!-- BEGIN: Theme CSS-->
    @Styles.Render("~/Content/app-assets/css/bootstrap.min.css")
    @Styles.Render("~/Content/app-assets/css/bootstrap-extended.min.css")
    @Styles.Render("~/Content/app-assets/css/colors.min.css")
    @Styles.Render("~/Content/app-assets/css/components.min.css")
    @Styles.Render("~/Content/app-assets/css/themes/dark-layout.min.css")
    @Styles.Render("~/Content/app-assets/css/themes/bordered-layout.min.css")

    <!-- BEGIN: Page CSS-->
    @Styles.Render("~/Content/app-assets/css/core/menu/menu-types/vertical-menu.min.css")
    @Styles.Render("~/Content/app-assets/css/pages/dashboard-ecommerce.min.css")
    @Styles.Render("~/Content/app-assets/css/plugins/charts/chart-apex.min.css")
    @Styles.Render("~/Content/app-assets/css/plugins/extensions/ext-component-toastr.min.css")

    @RenderSection("styles", required: false)

</head>
<body>

    @Html.Partial("_header")
    @Html.Partial("_MainMenu")


    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- END: Content-->
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>


    <!-- BEGIN: Vendor JS-->
    @Scripts.Render("~/Scripts/vendors/js/vendors.min.js")

    <!-- BEGIN: Page Vendor JS-->
    @Scripts.Render("~/Scripts/vendors/js/charts/apexcharts.min.js")
    @Scripts.Render("~/Scripts/vendors/js/extensions/toastr.min.js")

    <!-- BEGIN: Theme JS-->
    @Scripts.Render("~/Scripts/js/core/app-menu.min.js")
    @Scripts.Render("~/Scripts/js/core/app.min.js")
    @Scripts.Render("~/Scripts/js/scripts/customizer.min.js")

    <!-- BEGIN: Page JS-->
    @Scripts.Render("~/Scripts/js/scripts/pages/dashboard-ecommerce.min.js")

    <script>
        $(window).on('load', function () {
            if (feather) {
                feather.replace({ width: 14, height: 14 });
            }
        })
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>


