@model IEnumerable<FootballWebApp.Models.yellow_cards>

@{
    ViewBag.Title = "Yellow Cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.match.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.player.fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.team.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.match.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.player.fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.team.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.yellow_card_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.yellow_card_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.yellow_card_id })
        </td>
    </tr>
}

</table>
