@model FootballWebApp.Models.match

@{
    ViewBag.Title = "Create a match";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
}

<h2>Create a match</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TeamMatches, "Home", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("team1", null,"Select the first club", htmlAttributes: new { @class = "form-control", name = "team1_id" })
                @Html.ValidationMessageFor(model => model.TeamMatches, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeamMatches, "Away", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("team2", null,"Select the second club", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TeamMatches, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text"
                       id="fp-date-time"
                       class="form-control flatpickr-date-time"
                       placeholder="YYYY-MM-DD HH:MM"
                       name="date" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.RadioButtonFor(model => model.status, "Postponed") Postponed <br />
                @Html.RadioButtonFor(model => model.status, "Not Started") Not Started <br />
                @Html.RadioButtonFor(model => model.status, "Started") Started <br />
                @Html.RadioButtonFor(model => model.status, "Finished") Finished <br />
                @Html.ValidationMessageFor(model => model.status, "Choose a status", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        $("#fp-date-time").flatpickr({
            enableTime: true,
            dateFormat: "Y-m-d h:i K",
        });

        $(document).ready(function () {
            $('select').on('change', function (event) {
                var prevValue = $(this).data('previous');
                $('select').not(this).find('option[value="' + prevValue + '"]').show();
                var value = $(this).val();
                $(this).data('previous', value);
                $('select').not(this).find('option[value="' + value + '"]').hide();
            });
        });

    </script>
}
