@model IEnumerable<FootballWebApp.Models.match>


@{
<<<<<<< HEAD
    ViewBag.Title = "Teams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


=======
    ViewBag.Title = "Matches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Matches Panel</h2>

<p>
    @Html.ActionLink("Add a Match", "Create")
</p>
>>>>>>> db4a7e441a670d8da104e1cac116990e2d10b72c
<table class="table">
    <tr>

        <th>
            Home
        </th>
        <th>
            Away
        </th>
        <th>
            @Html.DisplayNameFor(model => model.team1_score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.team2_score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.TeamMatches.First(x => x.match_id == item.match_id && x.home_Away == "home").team.name
            </td>
            <td>
                @item.TeamMatches.Last(x => x.match_id == item.match_id && x.home_Away == "away").team.name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.team1_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.team2_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.match_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.match_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.match_id }) |
                @Html.ActionLink("Add Goals", "Create", "goals", new { id = item.match_id }, null) |
<<<<<<< HEAD
                @Html.ActionLink("Add Yellow Cards", "Create", "yellowcards", new { id = item.match_id }, null) |
                @Html.ActionLink("Add Red Cards", "Create", "redcards", new { id = item.match_id }, null)
=======
                @Html.ActionLink("Add Yellow Card", "Create", "yellowcards", new { id = item.match_id }, null)
>>>>>>> db4a7e441a670d8da104e1cac116990e2d10b72c
            </td>
        </tr>
    }

</table>

