@model FootballWebApp.Models.team

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.league.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.league.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.goals_for)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.goals_for)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.goals_against)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.goals_against)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.draws)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.draws)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loss)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.team_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
